body {
  font-family: sans-serif;
  background-color: #280067;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input.input-small {
  width: 250px;
  align-items: center;
}
.input-small {
  width: 250px !important;
  align-items: center;
  text-align: center;
}

input.search {
  text-align: left;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #fef9fa;
  overflow: auto;
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0 0 10px #ccc;
}

.login-page {
  vertical-align: middle;
}

.container p {
  text-align: left;
  margin: 0 auto;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login label {
  margin-bottom: 0.5em;
  text-align: left;
  display: inline-block;
  width: 100px;
  margin-right: 9em;
}

.result-table-container {
  overflow-x: auto;
  max-width: 100%;
}

.result-table {
  margin: 0 auto;
  width: 100%;
  overflow-x: auto;
  max-width: 100%;
}

.result-table tbody tr {
  border-radius: 20px;
  box-shadow: 0 0 15px #ccc;
}

.result-table th {
  cursor: pointer;
  background-color: #8a297d;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  top: 2px;
  color: #fef9fa;
}

.result-table th:hover {
  background-color: #6b0b5e;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 4em;
  background: linear-gradient(to right, #4e278a, #b733a5, #b733a5, #4e278a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #4cf0ec;
}

.jumbotron {
  background-color: #fef9fa;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #10ced6;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #4cf0ec;
  background-color: #fef9fa;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  color: #fef9fa;
  background-color: #10ced6;
  text-decoration: none;
}
.btn-primary {
  color: #4cf0ec;
  background-image: linear-gradient(to bottom, #b733a5 0, #4e278a 100%);
  background-repeat: repeat-x;
}
.btn-primary:active {
  background-color: #4cf0ec;
  border-color: #4cf0ec;
}

.btn-primary:hover {
  color: #10ced6;
  background-color: #10ced6;
  background-position: 0 -13px;
}

.btn-primary:active:hover {
  background-color: #10ced6;
  border-color: #10ced6;
}

a {
  color: #b733a5;
  text-decoration: none;
}

#account {
  color: #b733a5;
  text-decoration: none;
}
#account:hover {
  text-decoration: none;
  color: #10ced6;
}
#account:visited:hover {
  text-decoration: none;
  color: #10ced6;
}

#account:visited {
  text-decoration: none;
  color: #b733a5;
}

.form-control {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fef9fa;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  box-sizing: border-box;
}

.form-group {
  text-align: center;
}

#search {
  width: 40%;
  color: #000;
}

input {
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
